/* Link para paleta de colores */

/* https://colorhunt.co/palette/ffe7bfffc4c4ff869ea10035*/
body{
    font-family: 'Monserrat', sans-serif;
    /* background-color: #FFE7BF; */
}


.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-primary{
    background-color: #A10035;
    border:none;
}

.btn-primary:hover{
    color: white;
}

/* Remover espacios vacios a izq y derecha. top y bottom igual. */
.container-fluid {
    padding: 0;
}
